In [7]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [49]:
datagen = ImageDataGenerator(validation_split=0.25)

In [50]:
train_images= "/content/sample_data/part.csv"

In [51]:
import pandas as pd
train_images=pd.read_csv(train_images)

In [52]:
train_images.head()

    file_name  real_age
0  000000.jpg         4
1  000001.jpg        18
2  000002.jpg        80
3  000003.jpg        50
4  000004.jpg        17

In [58]:
train_img_generator = datagen.flow_from_dataframe(
    dataframe=train_images,
    directory='/content/sample_data/images/',
    x_col='file_name',
    y_col='real_age',
    class_mode='raw',
    batch_size=16,
    subset='training',
    seed=12345,
)

Found 2689 validated image filenames.

/usr/local/lib/python3.7/dist-packages/keras_preprocessing/image/dataframe_iterator.py:282: UserWarning: Found 415 invalid image filename(s) in x_col="file_name". These filename(s) will be ignored.
  .format(n_invalid, x_col)

In [59]:
val_img_generator = datagen.flow_from_dataframe(
    dataframe=train_images,
    directory='/content/sample_data/images/',
    x_col='file_name',
    y_col='real_age',
    class_mode='raw',
    batch_size=16,
    subset='validation',
    seed=12345,
)

Found 896 validated image filenames.

/usr/local/lib/python3.7/dist-packages/keras_preprocessing/image/dataframe_iterator.py:282: UserWarning: Found 415 invalid image filename(s) in x_col="file_name". These filename(s) will be ignored.
  .format(n_invalid, x_col)

In [60]:
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np

model = keras.models.Sequential()

model.add(
    keras.layers.Dense(units=10, input_dim=28 * 28, activation='softmax')
)

model.compile(
    loss='sparse_categorical_crossentropy', optimizer='sgd', metrics=['acc']
)

In [73]:
model.fit(
    train_img_generator,
    validation_data=val_img_generator,
    steps_per_epoch=len(train_img_generator),
    validation_steps=len(val_img_generator),
)

169/169 [==============================] - 280s 2s/step - loss: -154272169984.0000 - accuracy: 0.0186 - val_loss: -554952687616.0000 - val_accuracy: 0.0268